# Node modules
node_modules/

# Environment files
*.env

# macOS specific
.DS_Store

# Windows specific
Thumbs.db

# Linux specific
.directory

# Firebase Service Key
/backend/quotes-468b4-firebase-adminsdk-ivmws-c12f7217db.json